a.dhtml-menu-icon {
        margin-left: -24px;
        margin-top: 3px;
}

.views-table caption {
   font-weight: bold;
   font-size: xx-large;
   background: #069;
   padding: 15px;
   color: #fff;
}