a.dhtml-menu-icon {
        margin-left: -24px;
        margin-top: 3px;
}

.views-table caption {
   font-weight: bold;
   font-size: xx-large;
   background: #069;
   padding: 15px;
   color: #fff;
}

.header_logo1 img{
  width:8em;
}

.header_logo2 img{
  width:11em;
}

.header_title, .header_logo1, .header_logo2 {
  text-align: center;
}